
/*  Centring the Box */
#breifBox{
    text-align: center;
    margin: 10px 120px 0px 120px;
    background-color: #0DAB76;
}

/* Box Text*/

.card-title{
    font-weight: bolder;
    color: #000000;
}

.card-text:last-child {
    color: #000000;
    font-size: larger;
    font-style: italic;
}


/* Centering Carousel Item  */

.carousel {
    padding: 5% 4% 0%;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
    margin: auto;
}

/*   Resizing IMG Carousel   */
.carousel img {
    max-height: 450px;
    margin: 0 auto;
}

/* Bottom Margin */

#playButton {
    margin: 15px 0px 50px;
}

/*Play Button*/
#playBtn {
    background-color: #0B5D1E;
    color: #0DAB76;
    font-weight: bolder;
}

#playBtn:hover{
    background-color: #0b2a13;
    color: #0DAB76;
    font-weight: bolder;
}
/* Resizing Cards */
.card-deck {
    margin-right:10%;
    margin-left:10%;
}

.card {
    background-color: #0DAB76;
}
#aboutGame{
    padding: 2%;
    background-color: #000000!important;
    border-bottom-style: unset
}



