/*  Nav Buttons */

.navButton{
    border-radius: 35px!important;
}

/*  Centring the Box */
#breifBox{
    text-align: center;
    margin: 10px 120px 0px 120px;
    margin-bottom:unset;
}

/* Centering Carousel Item  */

.card-img-top {
    height: 35vh;
    width: 80%;
    padding-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner{
    padding-top: 2%;
    padding-bottom: 2%;
}
.carousel-inner img {
    margin: auto;
}

/*   Resizing IMG Carousel   */
.carousel-item{
    max-height: 50vh;
}

/* Bottom Margin */

#playButton{
    margin-bottom: 15px;
}

/* Resizing Cards */
.card-deck {
    margin-right:10%;
    margin-left:10%;
}

#aboutGame{
    padding: 2%;
}



