/*Resizing img on the left and right */
.scoreImg{
    width: 15%;
    max-height: 60vh;
}

/* Table Styling */

.table {
    width: 70%;
    background-color: #139A43;
}
#tableHead{
    background-color: #053B06;
    color: #0DAB76;
}

/* Caption */

#captionText {
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
    color: #0DAB76;
    font-style: italic;
}


