/*Resizing img on the left and right */
.scoreImg{
    width: 15%;
    max-height: 60vh;
}

/* Table Styling */

.table{
    width: 70%;
}

/* Caption */

#captionText {
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
}

#scoreBoard{

}

